<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
table {
  text-align: right;
}
table thead th {
  text-align: left;
}
</style>

<h1 class="text-center">
  <a href="zzcoradwmcr.html">WW alert radar</a>
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-9 sticky-top" style="height: 100vh">
